node_modules/
dist/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.clas

# Environment Variables
.env
.env.local

# Database

*.sqlite
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
__pycache__
