node_modules/
dist/
installer/output/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.clas

# Environment Variables
.env
.env.local

# Database
*.db
*.sqlite
fedorbot.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
__pycache__
